<h1>Shmoo's TinyApp</h1>

<% if (user !== undefined) { %>
  <span>Logged in as <b><%= user.email %></b></span>
  <form method="POST" action="/logout">
    <input type="submit" value="Log Out">
  </form>
<% } else { %>
  <span>
    Please <a href="/login">log in</a> or <a href="/register">register</a>.
  </span>
<% } %>
