<h1>Shmoo's TinyApp</h1>
<% if (user !== undefined) { %>
  <span>Hello <b><%= user.id %></b></span>
  <form method="POST" action="/logout">
    <input type="submit" value="Log Out">
  </form>
<% } %>
