<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <header>
    <% include ./partials/_header %>
  </header>
  <br />
  <table>
    <thead>
      <tr>
        <th>Short IDs</th>
        <th>Full URLs</th>
      </tr>
    </thead>
    <tbody>
      <% for (let url in urls){ %>
      <tr>
        <td><%= urls[url].tinyURL %></td>
        <td><%= urls[url].fullURL %></td>
        <% if (user.id === urls[url].owner) { %>
        <td>
          <form method="GET" action="/urls/<%= urls[url].tinyURL %>">
            <button>edit</button>
          </form>
        </td>
        <td>
          <form method="POST" action="/urls/<%= urls[url].tinyURL  %>?_method=DELETE">
            <button type="submit">delete</button>
          </form>
        </td>
        <% } %>
      </tr>
      <% } %>
    </tbody>
  </table>

  <br/>
  <a href="/urls/new">Click here to shorten a new URL.</a>
</body>
</html>