<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <form action="/register" method="POST">
    <input type="email" name="email">
    <input type="password" name="password">
    <input type="submit" name="Submit">
  </form>
</body>
</html>