<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>

<p>ShortURL - <b><%= shortURL %></b>.</p>

<p>
  <% longURL.forEach((item) => { %>
    <% if (item.tinyURL == shortURL) { %>
  <form method="POST" action="/urls/<%= item.tinyURL %>">
    <input type="text" name="newFull" placeholder="<%= item.fullURL %>">
    <button>Edit</button>
  </form>
  <% } %>
  <% }) %>
</p>

</body>
</html>