<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <br />
  <table>
    <thead>
      <tr>
        <th>Short IDs</th>
        <th>Full URLs</th>
      </tr>
    </thead>
    <tbody>
      <% urls.forEach((url) => { %>
      <tr>
        <td><%= url.tinyURL %></td>
        <td><%= url.fullURL %></td>
        <% if (user.id === url.owner) { %>
        <td>
          <form method="GET" action="/urls/<%= url.tinyURL %>">
            <button>edit</button>
          </form>
        </td>
        <td>
          <form method="POST" action="/urls/<%= url.tinyURL  %>/delete">
            <button>delete</button>
          </form>
        </td>
        <% } %>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <br/>
  <a href="/urls/new">Click here to shorten a new URL.</a>
</body>
</html>