<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
 <ul>
  <% urls.forEach((url) => { %>
    <li>
      <%= url.tinyURL %> - <%= url.fullURL %>
      <form method="POST" action="/urls/<%= url.tinyURL  %>/delete">
        <button>delete</button>
      </form>
    </li>
  <% }); %>
 </ul>

 <a href="/urls/new">Click here to shorten a new URL.</a>
</body>
</html>